body {
	text-align: center;
	background: #518EBC;
	font-family: 'Muli', sans-serif;
}

h1, h2 {
	margin-bottom: 1em;
}

table {
	margin: 2em auto;
}

td {
	height: 3em;
	width: 3em;
	font-size: 1.5em;
	text-transform: uppercase;
}

/*top and bottom border for middle row*/
tr:nth-of-type(2) td {
	border-bottom: .1em solid #518EBC;
	border-top: .1em solid #518EBC;
}

/*left and right border for middle column*/
td:nth-of-type(2) {
	border-right: .1em solid #518EBC;
	border-left: .1em solid #518EBC;
}

footer {
	color: #F6F5F6;
}
.vertical-center {
  min-height: 100%;
  min-height: 100vh; 
  display: flex;
  align-items: center;
}

.screen {
	background: #F6F5F6;
	color: #518EBC;
	border-radius: 1em;

	height: 70vh;
	max-height: 500px;
	width: 90vw;
	max-width: 500px;

	display: flex;
  align-items: center;
}

.row {
	margin: auto;
}

.scoreboard, .game-over-msg, .turn-display {
	font-size: 1.5em;
	margin-bottom: 1em;
}

.current-turn-label, .game-over-msg {
	text-transform: uppercase;
}

.board {
	display: none;
}

.select-xo {
	display: none;
}

.game-over {
	display: none;
}

.winning-square {
	color: #EC5113;
}