body {
	/*background: #6991C6;*/
	/*color: #283767;*/
	text-align: center;
}

table {
	margin: 2em auto;
}

td {
	height: 3em;
	width: 3em;
	font-size: 1.5em;
	text-transform: uppercase;
}

/*top and bottom border for middle row*/
tr:nth-of-type(2) td {
	border-bottom: .1em solid #000;
	border-top: .1em solid #000;
}

/*left and right border for middle column*/
td:nth-of-type(2) {
	border-right: .1em solid #000;
	border-left: .1em solid #000;
}

/*td:hover {
  background: #5285C4;
}*/

.vertical-center {
  min-height: 100%;
  min-height: 100vh; 
  display: flex;
  align-items: center;
  /*text-align: center;*/
}

/*.x:hover, .o:hover {
	background: #6991C6;
}*/

.screen {
	border: 2px solid black;
	border-radius: 1em;

	height: 70vh;
	max-height: 500px;
	width: 90vw;
	max-width: 500px;
	padding: 1em;

	display: flex;
  align-items: center;
  /*text-align: center;*/
}

.row {
	margin: auto;
}

.board {
	display: none;
}

.select-xo {
	display: none;
}

.game-over {
	display: none;
}

.winning-square {
	color: white;
}